body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8f0;
  color: #4b3b1d;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 90px;
  padding: 0;
}

@media (max-width: 900px) {
  main {
    margin-top: 50px;
  }
}